.card {
    border-radius: 16px;
    background-color: #FFF;
    padding: 16px;
    color: #000 !important;
    width: 100%;
}

.info {
    border-radius: 16px;
    background-color: #FFF;
    padding: 16px;
    color: #000 !important;
    width: 100%;
}